*~
cache/
.cache
*.class
crash.log
dist/
docs/*/*.ico
docs/*/*.json
.DS_Store
*.env
Gemfile.lock
.idea/
.jekyll-metadata
*.log
/logos/
node_modules/
*.pyc
.sass-cache/
_site/
tmp/
_tmp/
venv/
x-connect.sh
