*~
/badger
.cache
cache/
*.class
/completions/
crash.log
dist/
docs/*/*.ico
docs/*/*.json
.DS_Store
*.env
foo
.github/actions/badger-gha
.idea/
.jekyll-metadata
*.log
/logos/
/manpages/
node_modules/
*.pyc
.sass-cache/
_site/
*.swp
*.tmp
_tmp/
tmp/
venv/
x-connect.sh
