{{define "below"}}
			<hr class="mt-3" />
			<div class="text-center"><small>
				<a href="/language.html?next={{urlquery .Path}}">{{ call .T "common.language" }}</a>
				| <a href="/contact.html">{{ call .T "common.contact" }}</a>
			</small></div>
		</div>
	</div>
</div>
</body>
</html>
{{end}}
